<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Interest.css">
    <title>Criptomoedas</title>
</head>
<body>
    <div class="container">
      <div class="left">
        <h1>Criptomoedas</h1>
        <form method="POST">
            <div class="form-group">
                <label for="pi">Preço Inicial:</label>
                <input type="number" name="pi" step="any" required>
            </div>
            <div class="form-group">
                <label for="tj">Taxa de Juros:</label>
                <input type="number" name="tj" step="any" required>
            </div>
            <div class="form-group">
                <label for="t">Período:</label>
                <input type="number" name="t" step="any" required>
            </div>
            <div class="form-group">
                <label for="unidade_tempo">Unidade de tempo:</label>
                <select name="unidade_tempo" required>
                    <option value="anos">Anos</option>
                    <option value="meses">Meses</option>
                </select>
            </div>
            <button type="submit">Calcular</button>
        </form>

        {% if resultado is not none %}
        <div class="resultados">
            <div class="resultado-item">
                <h2>Preço:</h2>
                <p>R$</p>
            </div>
        </div>
       {% endif %}
        <!-- Botão para voltar à página inicial -->
        <div class="back-btn">
            <a href="/" class="btn">Voltar</a>
        </div>
      </div>
      <div class="right">
        <div class="top-right">
            <h3>Preços do Bitcoin:</h3>
            {% if btc_data %}
                <p><strong>USD: </strong> {{ btc_data['USD'] }}</p>
                <p><strong>JPY: </strong> {{ btc_data['JPY'] }}</p>
                <p><strong>EUR: </strong> {{ btc_data['EUR'] }}</p>
                <p><strong>BRL: </strong> {{ btc_data['BRL'] }}</p>
                <p><strong>GBP: </strong> {{ btc_data['GBP'] }}</p>
                <p><strong>CNY: </strong> {{ btc_data['CNY'] }}</p>
                <p><strong>AUD: </strong> {{ btc_data['AUD'] }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}
        </div>
      </div>
    </div>
</body>
</html>
