<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cripto.css">
    <title>Câmbio</title>
</head>
<body>
    <div class="container">
        <div class="left">
          <h1>Câmbio</h1>
          <form method="POST">
              <div class="form-group">
                  <label for="valor">Valor:</label>
                  <input type="number" name="valor" step="any" required>
              </div>
              <div class="form-group">
                <label for="moedaOrigem">Moeda de Origem:</label>
                <input type="text" name="moedaOrigem" step="any" required>
             </div>
             <div class="form-group">
                <label for="moedaDestino">Moeda de Destino:</label>
                <input type="text" name="moedaDestino" step="any" required>
             </div>
              <button type="submit">Calcular</button>
          </form>
  
          {% if resultado is not none %}
          <div class="resultados">
              <div class="resultado-item">
                  <h3>Resultado:</h3>
                  <p>{{formatted_response}}</p>
              </div>
          </div>
         {% endif %}
          <!-- Botão para voltar à página inicial -->
          <div class="back-btn">
              <a href="/" class="btn">Voltar</a>
          </div>
        </div>
      <div class="right">
        <h2>Preços em Tempo Real</h2>
        <div class="top-right">
            <h3>Taxa de Câmbio (USD/BRL)</h3>
            {% if exchange_rate_usd_brl %}
                <p><strong>Moeda: </strong> {{ exchange_rate_usd_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_usd_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_usd_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_usd_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_usd_brl  .create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (EUR/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_eur_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_eur_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_eur_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_eur_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_eur_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (GBP/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_gbp_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_gbp_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_gbp_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_gbp_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_gbp_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (CNY/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_cny_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_cny_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_cny_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_cny_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_cny_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (AUD/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_aud_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_aud_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_aud_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_aud_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_aud_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (JPY/BRL)</h3>
            {% if exchange_rate_jpy_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_jpy_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_jpy_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_jpy_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_jpy_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_jpy_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

        </div>
      </div>
    </div>
</body>
</html>
