<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            
            <h2>InfinityCalc</h2>
            <p>Selecione uma das opções abaixo para acessar ferramentas financeiras:</p>

            <a href="/simpleInterestPage">
                <button>Juros Simples</button>
            </a>
            <a href="/compoundInterestPage">
                <button>Juros Compostos</button>
            </a>
            <a href="/BlackScholesPage">
                <button>Black-Scholes</button>
            </a>
            <a href="/investmentPage">
                <button>Câmbio</button>
            </a>
            <a href="/loanPage">
                <button><i class="fas fa-bitcoin"></i> Criptomoedas</button>
            </a>
            <a href="/aboutPage">
                <button>Títulos Públicos</button>
            </a>

        </div>
        <div class="top-right"></div>
        <div class="bottom-right"></div>
    </div>
</body>
</html>
