<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            
            <h2>InfinityCalc</h2>
            <p>Selecione uma das opções abaixo para acessar ferramentas financeiras:</p>

            <a href="/simpleInterestPage">
                <button>Juros Simples</button>
            </a>
            <a href="/compoundInterestPage">
                <button>Juros Compostos</button>
            </a>
            <a href="/BlackScholesPage">
                <button>Black-Scholes</button>
            </a>
            <a href="/investmentPage">
                <button>Câmbio</button>
            </a>
            <a href="/Criptomoedas">
                <button><i class="fas fa-bitcoin"></i>Criptomoedas</button>
            </a>
            <a href="/aboutPage">
                <button>Títulos Públicos</button>
            </a>

        </div>
        <div class="top-right">
            <h3>Taxa de Câmbio (USD/BRL)</h3>
            {% if exchange_rate %}
                <p><strong>Moeda: </strong> {{ exchange_rate.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (EUR/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_eur_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_eur_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_eur_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_eur_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_eur_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (GBP/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_gbp_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_gbp_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_gbp_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_gbp_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_gbp_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (CNY/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_cny_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_cny_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_cny_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_cny_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_cny_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (AUD/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_aud_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_aud_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_aud_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_aud_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_aud_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

            <h3>Taxa de câmbio (JPY/BRL)</h3>
            {% if exchange_rate_eur_brl %}
                <p><strong>Moeda:</strong> {{ exchange_rate_jpy_brl.name }}</p>
                <p><strong>Taxa Atual: R$</strong> {{ exchange_rate_jpy_brl.bid }}</p>
                <p><strong>Alta do Dia: R$</strong> {{ exchange_rate_jpy_brl.high }}</p>
                <p><strong>Baixa do Dia: R$</strong> {{ exchange_rate_jpy_brl.low }}</p>
                <p><strong>Última Atualização:</strong> {{ exchange_rate_jpy_brl.create_date }}</p>
            {% else %}
                <p>Não foi possível carregar os dados de câmbio.</p>
            {% endif %}

        </div>
        <div class="bottom-right">
            <h3>Notícias</h3>
            {% if random_article %}
                <h4>{{ random_article.title }}</h4>
                <p>{{ random_article.description }}</p>
                <a href="{{ random_article.url }}" target="_blank">Leia mais</a>
            {% else %}
                <p>Não foi possível carregar uma notícia no momento.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
